.personal {
  padding: 48px;
  position: relative;
}

.personal__text {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: -3px;
}

.personal__text p {
  font-weight: 800;
  text-align: left;
  position: relative;
  z-index: 2;
  color: rgb(12, 12, 12);
}

.dropcap {
  font-size: 8rem;
  font-family: "Canopee";
  margin-right: 10px;
  color: black;
  padding: 6px;
  background-color: #ba3d12;
  filter: brightness(1.3);
  color: white;
  display: flex;
  align-items: center;
  font-weight: 800;
  height: 20%;
  position: relative;
}