.contact {
  background-color: black;
  padding: 75px;
  width: 100vw;
  position: relative;
}

.contact p:first-child {
  font-size: 2vw;
  letter-spacing: -2px;
  color: white;
}

.contact__together {
  color: #ba3d12;
  filter: brightness(1.3);
}

.contact__talk {
  font-size: 10vw;
  letter-spacing: -6px;
  color: white;
}

.contact__button ul {
  display: flex;
  justify-content: end;
  gap: 50px;
}

.contact__button li {
  font-size: 1.5vw;
  letter-spacing: -2px;
  color: white;
}

.contact p {
  color: white;
}

.contact__scroll-to-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #EA4916;
  filter: brightness(1.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.contact__scroll-to-top:hover {
  background-color: #ea4716e7;
}
