.profile-projects {
  background: url("../../assets/images/background/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project-display {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project-title {
  font-size: 5rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  letter-spacing: -2px;
  font-weight: 800;
}

.technology-list {
  display: flex;
  padding-bottom: 16px;
  gap: 20px;
}

.technology-list li {
  font-weight: 800;
  letter-spacing: -2px;
  background-color: #ea4916;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.project-tag:hover {
  background-color: rgb(250, 250, 250);
  color: #000;
}

.project-description,
.project-description-techno {
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  background: black;
  padding: 10px;
  text-transform: uppercase;
}

.project-separator {
  border: none;
  border-top: 2px solid rgb(5, 5, 5);
  margin: 20px 0;
}

.project-image-container {
  text-align: center;
}

.project-image:hover {
  opacity: 1;
}

.project-navigation {
  position: relative;
}

.project-image {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

.arrow {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow-png,
.right-arrow-png {
  width: 100px;
  height: auto;
  transition: width 0.2s ease;
}

.right-arrow-png:hover {
  width: 120px;
}

.left-arrow-png:hover {
  width: 120px;
}
