.projects {
  background-color: rgb(5, 5, 5);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.project__info {
  width: 100%;
  border: 2px solid black;
  background: url("../../assets/images/background/mainBackground.webp");
  background-color: rgb(250, 250, 250);
  background-position: center;
  background-size: cover;
}

.project__info h2 {
  font-size: 7vw;
  font-weight: 800;
  letter-spacing: -2px;
  text-align: center;
  color: #000;
  border-bottom: 2px solid rgb(5, 5, 5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__info h3 {
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: -5px;
  border-bottom: 2px solid rgb(5, 5, 5);
  color: rgb(5, 5, 5);
  padding: 20px;
}

.project__number {
  color: #ea4916;
  filter: brightness(1.3);
}

#projects > article > div > p {
  font-weight: 800;
}

.project__info p {
  font-size: 2rem;
  text-align: right;
  padding: 50px;
  letter-spacing: -2px;
  font-weight: 100;
}

.project__info-image {
  width: 100%;
  border-bottom: 2px solid rgb(5, 5, 5);
  filter: saturate(0);
  transition: filter 0.3s ease;
  height: 100vh;
  object-fit: cover;
}

.project__info-image:hover {
  filter: saturate(1);
}

.project__code {
  font-size: 2rem;
  font-weight: 800;
  transition: color 0.3s ease;
}

.project__code:hover {
  color: #ea4916;
}

.project__code__container {
  text-align: center;
  padding: 15px;
}
.project__info-description {
  display: flex;
}
#projects > article > div > div > p {
  font-weight: 800;
  letter-spacing: -2px;
}
.project__info-text {
  width: 50%;
  border-top: 2px solid rgb(5, 5, 5);
}
.project__info-text p {
  font-weight: 800;
}
.project__info-techno {
  width: 50%;
  border-top: 2px solid rgb(5, 5, 5);
  border-left: 2px solid rgb(5, 5, 5);
}

.project__info-techno li {
  border-bottom: 2px solid rgb(5, 5, 5);
  padding: 40px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -2px;
}

.project__info-techno p {
  font-weight: 800;
}

.next-project {
  filter: brightness(1.3);
  cursor: pointer;
  color: #ea4916;
}

.next-project:hover {
  color: rgb(5, 5, 5);
  transition: color 0.3s ease;
}

.project__content {
  transition: opacity 300ms ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
