@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-Ultralight-BF644b21500d0c0.otf");
  font-weight: 100;
}
@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-Italic-BF644b214fb0c0a.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-Regular-BF644b214ff145f.otf");
  font-weight: 400;
}
@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-Ultrabold-BF644b21500840c.otf");
  font-weight: 800;
}
@font-face {
  font-family: "EditorialNew";
  src: url("./assets/fonts/Editorial_New/PPEditorialNew-UltraboldItalic-BF644b214faef01.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Canterbury";
  src: url("./assets/fonts/Canterbury/Canterbury.ttf");
}
@font-face {
  font-family: "Pramid";
  src: url("./assets/fonts/Pramid/pramid-mango.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-family: "EditorialNew";
  color: black;
}

/* TABLET QUERIES */

@media only screen and (max-width: 768px) {
  .recent__works::before,
  .recent__works::after {
    content: none;
  }
  .recent__works {
    flex-direction: column;
    align-items: center;
  }
  .work__image {
    height: 250px;
  }
  .dropcap {
    font-size: 2rem;
  }
  .personal__text {
    font-size: 2rem;
  }
  .project__info p {
    font-size: 1.8rem;
  }
  .side-menu a {
    font-size: 2.8rem;
  }
  .side-menu li {
    font-size: 2.8rem;
  }
  .project-title {
    font-size: 2.8rem;
  }
  .contact__button ul {
    font-size: 1.4rem;
    gap: 10px;
  }
  .contact p:first-child {
    font-size: 1.8rem;
  }
  .contact {
    padding: 60px;
  }
}
