.profile__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  background: url("../../assets/images/greenbg.jpg");
  background-position: center;
  background-size: 130%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.profile__banner h1 {
  background: #ea4916;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(1.3);
  font-size: 23vw;
  text-transform: uppercase;
  letter-spacing: 32px;
  margin: 0;
  padding-top: 2rem;
  position: relative;
  z-index: 2;
}
