.profile__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  background: url("../../assets/images/background/bannerBackground.webp");
  background-position: center;
  background-size: 130%;
  border-bottom: 2px solid #ea4916;
  border-top: 2px solid #ea4916;
  height: 80vh;
}

.profile__banner h1 {
  background: #ea4916;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(1.3);
  font-size: 23vw;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding-top: 2rem;
  position: relative;
  z-index: 2;
  font-family: "Pramid";
  letter-spacing: 0.2em;
}
